.add-game-container {
    min-height: 100dvh;
    min-width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 75px 20px;
    gap: 10px;
}

.add-game-container .glass-container {
    width: 500px;
    max-width: 80%;
}

.sessions-table {
    width: 100%;
}

.sessions-table :is(td, th) {
    width: 25%;
    text-align: center;
}

.sessions-table td button {
    font-size: 10px;
}

.no-session {
    margin: 20px;
    color: #fff;
}